@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

.konten h1 {
	color: #3440A8; /* Ubah warna teks */
	text-align: center;
}

li:hover {
	background-color: #FABA26; /* Ubah warna latar saat hover */
	border-radius: 5px; /* Tambahkan sedikit pembulatan */
}
